body {
    background-color: rgb(31, 31, 70);
    font: normal 15px arial;
}

header {
    color: lightgray;
    text-align: center;
}

section {
    background-color: lightgrey;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}

select#flista {
    width: 150px;
}

footer {
    color: lightgray;
    text-align: center;
    font-style: italic;
}